/python-env/bin
/python-env/etc
/python-env/include
/python-env/lib
/python-env/lib64
/python-env/etc
/python-env/include
/python-env/lib
/python-env/lib64
python-env/lib64
python-env/lib64
python-env/lib
python-env/include
python-env/etc
/python-env/etc
/python-env/include
/python-env/lib
/python-env/lib64
python-env/etc
python-env/include
python-env/lib
python-env/lib64
